<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>论坛</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">

</head>

<body>
<!--引入公共头部-->
<% include pub/top.ejs %>
<div style="margin-top: 20px" class="container">

    <ul class="list-group">
        <%for(var i=0;i<talk.length;i++){%>
        <li style="height: 120px;margin-bottom: 10px" class="list-group-item list-group-item-success">
            <img style="width: 100px; margin-right: 10px" class="media-object pull-left" src="/avatar/<%=talk[i].avatar%>" alt="">
            <h4 style="line-height: 40px" class="media-heading"><%=talk[i].username%></h4>
        </li>
        <%}%>
    </ul>

</div>

<!--引入公共尾部-->
<% include pub/footer.ejs %>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>
